# Archivos checkpoint de Jupyter Notebook
**/.ipynb_checkpoints/

# caché Python
**/__pycache__/

**/model.keras

# NO subir carpetas de datos ni enlaces simbólicos a carpetas de datos
xview_recognition/
xview_detection/
**/xview_recognition
**/xview_detection

# LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc